clientWeb/Web References/srvc/maService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="recherche">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rechercheResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rechercheResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="rechercheSoapIn">
    <wsdl:part name="parameters" element="tns:recherche" />
  </wsdl:message>
  <wsdl:message name="rechercheSoapOut">
    <wsdl:part name="parameters" element="tns:rechercheResponse" />
  </wsdl:message>
  <wsdl:portType name="maServiceSoap">
    <wsdl:operation name="recherche">
      <wsdl:input message="tns:rechercheSoapIn" />
      <wsdl:output message="tns:rechercheSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="maServiceSoap" type="tns:maServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recherche">
      <soap:operation soapAction="http://tempuri.org/recherche" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="maServiceSoap12" type="tns:maServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recherche">
      <soap12:operation soapAction="http://tempuri.org/recherche" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="maService">
    <wsdl:port name="maServiceSoap" binding="tns:maServiceSoap">
      <soap:address location="http://localhost:58917/maService.asmx" />
    </wsdl:port>
    <wsdl:port name="maServiceSoap12" binding="tns:maServiceSoap12">
      <soap12:address location="http://localhost:58917/maService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>